//- Copyright (C) 2014 Kano Computing Ltd.
//- License: http://www.gnu.org/licenses/gpl-2.0.txt GNU General Public License v2

section.view-intro: .page-width

    .icon

    h3.center Will your SD card work with the Raspberry Pi?

    a.button.button-primary.massive(href='#/selection') Find out <span class="arr"></span>

    p.center.credits
        | Data source: 
        a(href='#', onclick='openLink("http://elinux.org/RPi_SD_cards")') elinux.org