//- Copyright (C) 2014 Kano Computing Ltd.
//- License: http://www.gnu.org/licenses/gpl-2.0.txt GNU General Public License v2

section: .page-width

    a.button.button-secondary.button-back(ng-href='#/selection') &laquo; Brands

    h2.center What type of SD card is it?

    ul.types-list
        li(ng-repeat='type in types'): a(ng-href='#/selection/{{ brand }}/{{ type }}') {{ type }}