doctype html
html(lang='en', ng-app='sd-checker-app')
    head

        block styles
            link(href='css/kano-main.css', rel='stylesheet', type='text/css')
            link(href='css/kano-fonts.css', rel='stylesheet', type='text/css')
            link(href='css/app.css', rel='stylesheet', type='text/css')
            link(href='favicon.ico', rel='shortcut icon', type='text/css')

        block head

        title Kano - SD Card compatibility check

    body
        header.reduced: .inner
            a.logo(href='#', onclick='openLink("http://www.kano.me")')

        div(ng-view)

        script(src='js/vendor/angular.min.js', type='text/javascript')
        script(src='js/vendor/angular-route.min.js', type='text/javascript')
        script(src='js/index.js', type='text/javascript')

        script.
            var gui = null;

            if (require) {
                gui = require('nw.gui');
            }

            function openLink (url) {
                if (gui) {
                    gui.Shell.openExternal(url);
                } else {
                    location.href = url;
                }
            }