//- Copyright (C) 2014 Kano Computing Ltd.
//- License: http://www.gnu.org/licenses/gpl-2.0.txt GNU General Public License v2

doctype html
html(lang='en', ng-app='sd-checker-app')
    head

        block styles
            link(href='css/kano-main.css', rel='stylesheet', type='text/css')
            link(href='css/kano-fonts.css', rel='stylesheet', type='text/css')
            link(href='css/app.css', rel='stylesheet', type='text/css')
            link(href='favicon.ico', rel='shortcut icon', type='text/css')

        block head

        title Kano - SD Card compatibility check

    body
        header.reduced: .inner
            a.logo(href='#', onclick='openLink("http://www.kano.me")')

        div(ng-view)

        script(src='js/vendor/angular.min.js', type='text/javascript')
        script(src='js/vendor/angular-route.min.js', type='text/javascript')
        script(src='js/index.js', type='text/javascript')

        script.
            var isDesktop = typeof require !== 'undefined',
                gui = isDesktop ? require('nw.gui') : null,
                classNames = [];

            function openLink (url) {
                if (isDesktop) {
                    gui.Shell.openExternal(url);
                } else {
                    location.href = url;
                }
            }

            if (isDesktop) {
                classNames.push('desktop');
            }

            if (self !== top) {
                classNames.push('embedded');
            }

            document.body.setAttribute('class', classNames.join(' '));