
<section class="view-intro">
  <div class="page-width">
    <div class="icon"></div>
    <h3 class="center">Will your SD card work with the Raspberry Pi?</h3><a href="#/selection" class="button button-primary massive">Find out <span class="arr"></span></a>
    <p class="center credits">Data source: <a href="#" onclick="openLink(&quot;http://elinux.org/RPi_SD_cards&quot;)">elinux.org</a> &nbsp; - &nbsp;<a href="#" onclick="openLink(&quot;https://github.com/KanoComputing/kano-sd-utility&quot;)">Fork us on GitHub</a></p>
  </div>
</section>